<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flex.flextracker">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name="com.flex.flextracker.TrackerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:ignore="GoogleAppIndexingWarning">
        <service
            android:name="com.flex.flextracker.service.ConectarBluetoothService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name="com.flex.flextracker.ui.atividade.AtividadeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.flex.flextracker.ui.perfil.PerfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.flex.flextracker.ui.home.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.flex.flextracker.ui.conexaobluetooth.ConexaoBluetoothActivity" />
        <activity
            android:name="com.flex.flextracker.ui.visualizacao.VisualizacaoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.flex.flextracker.ui.historico.HistoricoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.flex.flextracker.ui.perfil.EditarPerfilActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.flex.flextracker.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>